body, html{
    margin: 0;
    padding: 0;
    height: 100%;
    box-sizing: border-box;
    background-color: rgb(0, 0, 0, 65%);
} 

nav{
    width: 100%;
    position: fixed;
}

.nav-top{
    /*width: 100%;  precisa?, já ta herdando*/
    height: 3rem;
    display: flex;
    background-color: red;
}

.nav-top strong{
    position:relative;
    vertical-align: middle; /*precisa?*/
    font-family: 'Courier New', Courier, monospace;
    font-size: 28px;
    font-weight: bold;
    border: 0;
}

.nav-top a{
    position: relative;
    margin: auto;
    height: auto;
    margin: 0;
    text-decoration: none;
    top: 57%;
    color: black;
    font-size: 12px;
}

.nav-top a:hover{
    cursor: pointer;
    text-decoration: underline 2px;
}

.nav-bottom{
    height: 8rem;
    margin: 1rem 2,5rem;
    background-color: none;
    display: flex;
    justify-content: space-between;
}   

nav img{
    height: 8rem;
    width: auto;
}

.nav-list a{
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    color: coral;
    font-size: 18px;
    font-weight: bold;
    padding: 5px 8px;
    height: 1rem;

}

.nav-list{
    display: flex;
}
